#textmore {
    display: none; /* hidden by default */
}

#textmore:target {
    display: block; /* shown when a link targeting this id is clicked */
}

#textmore + ul.controls {
    list-style-type: none; /* aesthetics only, adjust to taste, irrelevant to demo */
}

/* hiding the hide link when the #textmore is not targeted,
   hiding the show link when it is selected: */
#textmore + ul.controls .hide,
#textmore:target + ul.controls .show {
    display: none;
}

/* Showing the hide link when the #textmore is targeted,
   showing the show link when it's not: */
#textmore:target + ul.controls .hide,
#textmore + ul.controls .show {
    display: inline-block;
}